node_modules/
dist/
build/
coverage/
webapp/dist
.env
.env.local
.DS_Store
npm-debug.log*
yarn-error.log*
.tmp/
.cache/
.vercel/
.next/
.vscode/
.cursor/
**/.cursor/
.cursor-*
.cursorrules
.cursorignore

prod.env

*.zip

helpers.txt
